@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    scroll-behavior: smooth;
}

main {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95vw;

}

.logo {
    font-size: 30px;
    font-weight: 500;
}

.logo span {
    color: #31aada;
}

.top-menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 90vw;
    resize: both;

}

.menu {
    margin-top: 13px;
    display: flex;

}

.menu ul {
    list-style: none;
    z-index: 10;
}

li {
    float: left;
    margin-right: 60px;
    z-index: 3;
}

.link{
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 14px;
    position: relative;
}
.link::after {
    content: '';
    width: 100%;
    height: 1.5px;
    background-color: #31aada;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .45s ease;
}
.link:hover::after {
    transform: scaleX(1);
}
.icon-menu {
    position: relative;
    margin-top: 15px;
    display: flex;
    gap: 30px;
}
/* ----------search box */

/* ----------search box end */

.icon-menu p {
    position: absolute;
    top: -15px;
    left: 56px;
    width: 20px;
    height: 20px;
    background: rgb(14, 218, 65);
    border-radius: 50%;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

.icon-menu input {
    position: absolute;
    right: 92px;
    top: -5px;
    border: 0;
    outline: none;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.fa-basket-shopping {
    cursor: pointer;
}


/* ======================= */

#mainTop {
    display: flex;
    margin-top: 30px;
    width: 100vw;
    height: 60vh;
    max-width: 1200px;
    max-height: 500px;
    border-radius: 15px;
    resize: both;

}

.section-1 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;

    position: relative;
}
.text-wrap-1 {
    width: 75%;
    margin-left: 0;
    
}
.text-wrap-1 span {
    color: #31aada;
    font-weight: 500;
}
.text-wrap-1 h1, h2 {
    font-weight: 500;
    font-size: 30px;
}
.text-wrap-1 p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 200;
}
.section-1 button {
    border: none;
}
#main-btn {
    width: 120px;
    height: 40px;
    border-radius: 20px 0 20px 20px;
    background: linear-gradient(45deg, #fec144, #f27334);
    color: white;
    top: 15px;
    left: -100px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    transform: translateY(0);
    transition: all .8s ease-in-out;
    
}
#main-btn:hover {
    transform: translateX(19px);

}

/* #main-btn:hover {
    border: 2px solid #f27334;
    background: rgba(255, 145, 0, 0.2);
    color: #f27334;
    transition: all 0.3s ease-in-out;
    transform: scaleX(45deg);

} */
.shape_1-1 {
    position: relative;
    border-radius: 0 50% 50% 50%;
    width: 70px;
    height: 70px;
    background: #31aada;
    margin-left: 100px;
    margin-top: 50px;
}
.shape_1-2 {
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #f27334;
    top: -25px;
    right: -25px;
    
}
.shape_1-3 {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #31aada;
    top: -15px;
    right: -15px;
    
}


.section-2 {
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
    
}

/* -----------------mainTop End--------------------- */
#main-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100vw;
    height: 60vh;
    max-width: 1200px;
    max-height: 300px;
    border-radius: 15px;
    resize: both;
}
#main-1 span {
    color: #2880be;
    font-weight: 500;
}
.level-sections {
    display: flex;
    margin-top: 60px;
    gap: 50px;
    width: 92%;
    height: 100%;
    text-align: center;
}
#section-3 {
    padding: 10px;
    cursor: pointer;
    border-radius: 30px 60px 30px 30px;
    width: 33%;
    height: 100%;
    box-shadow: 1px 1px 10px rgb(226, 226, 226);
    transition: all 2s ease-in-out;
    transform: translateY(0);
    transition: all .3s ease-in-out;

}
#section-3 img, 
#section-4 img, 
#section-5 img, 
#section-6 img{
    margin-top: 5px;
    background-size: cover;
    width: 60px;
}
#section-3 p, 
#section-4 p, 
#section-5 p, 
#section-6 p {
    font-size: 14px;
    font-weight: 200;
}
#section-4 {
    padding: 10px;
    cursor: pointer;
    border-radius: 30px 60px 30px 30px;
    width: 33%;
    height: 100%;
    box-shadow: 1px 1px 10px rgb(226, 226, 226);
    transition: all 2s ease-in-out;
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

#section-5 {
    padding: 10px;
    cursor: pointer;
    border-radius: 30px 60px 30px 30px;
    width: 33%;
    height: 100%;
    box-shadow: 1px 1px 10px rgb(226, 226, 226);
    transition: all 2s ease-in-out;
    transform: translateY(0);
    transition: all .3s ease-in-out;
}
#section-6 {
    padding: 10px;
    cursor: pointer;
    border-radius: 30px 60px 30px 30px;
    width: 33%;
    height: 100%;
    box-shadow: 1px 1px 10px rgb(226, 226, 226);
    transition: all 2s ease-in-out;
    transform: translate(0);
    transition: all .3s ease-in-out;
}
#section-3:hover {
    background: #31aada;
    box-shadow: none;
    transform: translateY(-10px);
    color: white;

}
#section-4:hover {
    background: #fec144;
    box-shadow: none;
    transform: translateY(-10px);
    color: #ffffff;

}
#section-5:hover {
    background: #01ce89;
    box-shadow: none;
    transform: translateY(-10px);
    color: #ffffff;
}
#section-6:hover {
    background: #f27334;
    box-shadow: none;
    transform: translateY(-10px);
    color: #ffffff;

}

#main-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100vw;

    max-width: 1200px;

    resize: both;

} 
.wrapper-2 {
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 100%;

}
.section-7 {
    display: flex;
}
.section-7 h1 {
    font-weight: 500;
}
.section-7 span {
    color: #31aada;
}
.section-7 button {
    margin-left: 300px;
    width: 120px;
    height: 40px;
    border-radius: 20px 0 20px 20px;
    background: linear-gradient(45deg, #fec144, #f27334);
    color: white;
    border: none;
    cursor: pointer;
    transform: translateY(0);
    transition: all .8s ease-in-out;
}
.section-7 button:hover {
    transform: translateX(19px);
}
.section-8 {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    border: 1.5px solid #f27334;
    border-radius: 15px;
}
#main-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100vw;
    max-width: 1200px;
    resize: both;
    
}
#main-3 h1 {
    font-weight: 500;
}
#main-3 span {
    color: #2880be;
}

.wrapper-3 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 92%;
    max-width: 1100px;
    height: 45vh;
    resize: both;
}
/* .section-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(226, 226, 226);
    cursor: pointer;

    
}

.section-01:hover .img--1 {
    opacity: 1;
    height: 40%;
    box-shadow: none;
    border: 1px solid rgba(0, 162, 255, 0.4);
} */

figure.snip1084 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-width: 240px;
    max-width: 380px;
    max-height: 320px;
    width: 100%;
    background: #000000;
    text-align: center;
    border-radius: 10px;
  }
  figure.snip1084 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  figure.snip1084 img {
    opacity: 1;
    height: 100%;

  }
  
  figure.snip1084 figcaption {
    top: 50%;
    left: 40px;
    right: 40px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  figure.snip1084 figcaption h2 {
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    -webkit-transform: translateY(75%);
    transform: translateY(75%);
  }
  
  figure.snip1084 figcaption h2 span {
    font-weight: 600;
  }
  
  figure.snip1084 figcaption p {
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    margin: 0;
  }
  
  figure.snip1084:before,
  figure.snip1084:after {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
    transition: opacity 0.6s, -webkit-transform 0.6s, -moz-transform 0.6s, -o-transform 0.6s, transform 0.6s;
  }
  
  figure.snip1084:before {
    border-top: 1px double #fff;
    border-bottom: 1px double #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
  
  figure.snip1084:after {
    border-right: 1px double #fff;
    border-left: 1px double #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  
  figure.snip1084 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  
  figure.snip1084.blue {
    background: #0a212f;
  }
  
  figure.snip1084.red {
    background: #36100c;
  }
  
  figure.snip1084.yellow {
    background: #ffc400;
  }
  figure.snip1084.green {
    background: #66b400;
  }
  
  figure.snip1084:hover img,
  figure.snip1084.hover img {
    opacity: 0.2;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  figure.snip1084:hover figcaption h2,
  figure.snip1084.hover figcaption h2,
  figure.snip1084:hover figcaption p,
  figure.snip1084.hover figcaption p {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.5);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  figure.snip1084:hover figcaption p,
  figure.snip1084.hover figcaption p {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  figure.snip1084:hover:before,
  figure.snip1084.hover:before,
  figure.snip1084:hover:after,
  figure.snip1084.hover:after {
    opacity: 0.6;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

/* ====================end================= */

.section-11 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 750px;
    
    

}
.section-11 img {
    background-size: 1100px;
    border-radius: 15px;
}

@media (max-width: 1178px) {
    .text-wrap-1 {
        margin-left: 0;
        
    }
    .dropdown-container {
        display: none;
    }
    .show {
        display: block;
    }
}

@media (max-width: 650px) {
    .text-wrap-1 {
        margin-left: 0;
    }
    .text-wrap-1 h1, h2 {
        font-size: 16px;
    }
}

/* -----------------------main banner end ----------------------*/ 
.fa-circle-user {
    cursor: pointer;
    position: relative;
    display: block;
}

#select-book {
    color: rgb(14, 218, 65);
}

.drop-img {
    width: 70px;
    height: 70px;
    background-image: url(./img/shopping-bag.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dropdown-container {
    display: none;
    position: absolute;
    right: -20px;
    width: 180px;
    height: 220px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    text-decoration: none;
    z-index: 1;
}

.dropdown-container li a {
    width: 140px;
    padding-left: 10px;
    padding-top: 6px;
    height: 25px;
    border-radius: 10px;
    background: rgb(244, 244, 244);
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: 400;
    font-size: 14px;
    transition: all .2s ease-out;
}

.dropdown-container li a:hover {
    background: rgb(14, 218, 65);
    color: white;
}

.dropdown-container li {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.show {
    display: block;
}


/* ========================================== */


.carts {
    position: absolute;
    right: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: auto;
    background: white;
    border-radius: 15px;
}

h4 {
    padding-top: 25px;
}

.cart-drop-img {
    background-image: url(./img/shopping-bag.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    margin-top: -2px;
    padding-left: 40px;
    float: left;
}

.carts button {
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.badge-danger {
    background: linear-gradient(45deg, rgb(218, 14, 14), rgb(255, 61, 61));
    color: white;
    width: 200px;
    height: 40px;
    padding-left: 10px;
}

.badge-danger i {
    margin-right: 10px;
}

.badge-dark {
    padding: 10 20px;
    width: 500px;
    height: 40px;
    background: linear-gradient(45deg, rgb(14, 218, 65), rgb(107, 206, 176));
    color: white;
    transition: all .5s ease-in;
}

.badge-dark:hover {
    background: linear-gradient(45deg, rgb(218, 79, 14), rgb(206, 199, 107));
}

.badge-dark i {
    margin-right: 10px;
}

.badge-cancel {
    background: rgb(235, 53, 53);
    color: white;
}

.flex_row {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.cart_item_quantity {
    margin: 5px 5px 0 5px;
}

.price-box {
    margin-top: 20px;
}

.text-items {
    width: 40%;
    display: flex;
    flex-direction: column;
}


/* #mainTop {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 400px;
    background: green;
} */


/* ========background shapes=== */

/* #background-shapes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} */
.shapes {
    position: absolute;
}
.layer {
    position: absolute;
    z-index: 2;
}
.triangle1 {

    top: 20px;
    right: 620px;
    width: 30px;
    height: 60px;
    opacity: 0.2;
    border: 7px solid rgb(90, 203, 255);

    
}

.triangle2 {

    top: 400px;
    right: 630px;
    width: 0;
    height: 0;
    opacity: 0.2;
    border-right: 60px solid rgb(255, 196, 0);
    border-top: 60px solid transparent;
    border-bottom: 20px solid transparent;
}

.triangle3 {

    top: 30px;
    left: 630px;
    width: 0;
    height: 0;
    opacity: 0.3;
    border-right: 70px solid rgb(255, 174, 0);
    border-top: 25px solid transparent;
    border-bottom: 70px solid transparent;

}

.triangle4 {

    top: 400px;
    left: 620px;
    width: 0;
    height: 0;
    opacity: 0.2;
    border-right: 60px solid rgb(0, 238, 255);
    border-top: 35px solid transparent;
    border-bottom: 40px solid transparent;

}

.triangle5 {

    top: 130px;
    right: 80px;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    border-radius: 50%;
    border: 7px solid rgb(0, 17, 255);
}

.triangle6 {

    top: 500px;
    left: 400px;
    width: 120px;
    height: 120px;
    opacity: 0.1;
    border-radius: 50%;
    background: rgb(0, 81, 255);
}

.triangle7 {

    top: 20px;
    left: -480px;
    width: 50px;
    height: 50px;
    opacity: 0.3;
    border-radius: 50%;
    background: rgb(255, 230, 0);
}

.triangle8 {

    top: 250px;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0.1;
    border-right: 100px solid rgb(255, 0, 0);
    border-top: 55px solid transparent;
    border-bottom: 40px solid transparent;

}

.triangle9 {

    top: 20px;
    right: -200px;
    width: 90px;
    height: 90px;
    opacity: 0.1;
    border-radius: 50%;
    background: rgb(30, 255, 0);
}
.triangle10 {

    top: -220px;
    right: -80px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-radius: 50%;
    border: 7px solid rgb(21, 255, 0);
}
.triangle11 {

    top: 800px;
    right: 540px;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    border-radius: 50%;
    background: rgb(255, 230, 0);
}
#triangle12 {

    top: 30px;
    left: 140px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-radius: 50%;
    background: rgb(255, 230, 0);
}
.triangle13 {

    top: 1000px;
    left: -90px;
    width: 0;
    height: 0;
    opacity: 0.2;
    border-right: 100px solid rgb(255, 166, 0);
    border-top: 55px solid transparent;
    border-bottom: 40px solid transparent;

}
.triangle14 {
    position: absolute;
    top: 1238px;
    left: 590px;
    width: 0;
    height: 0;
    opacity: 0.1;
    border-right: 50px solid rgb(255, 148, 148);
    border-top: 15px solid transparent;
    border-bottom: 40px solid transparent;

}
#triangle15 {

    top: 570px;
    right: -480px;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    border-radius: 50%;
    border: 7px solid rgb(255, 174, 0);
}
.triangle16 {

    top: 770px;
    right: -20px;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    border-radius: 50%;
    border: 7px solid rgb(255, 72, 0);
}
#triangle17 {

    top: 250px;
    left: 1200px;
    width: 50px;
    height: 70px;
    opacity: 0.2;
    border: 7px solid rgb(0, 204, 255);

    
}
.triangle18 {
    position: absolute;
    top: 1838px;
    left: -600px;
    width: 0;
    height: 0;
    opacity: 0.1;
    border-right: 50px solid rgb(255, 148, 148);
    border-top: 55px solid transparent;
    border-bottom: 40px solid transparent;

}
/* =========================== */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);

    padding-top: 0px;
}

h4 {
    padding: 15px;
    /* background: linear-gradient(45deg, rgb(14, 218, 65), rgb(107, 206, 176)); */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 80%;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: 400;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #db0f00;
    cursor: pointer;
}

footer {
    width: 100vw;
    display: flex;
    align-items: center;
    background: black;
}
.footer-wrap {
    width: 100vw;
    height: 400px;
    background: black;

}