@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    cursor: wait;
    background: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    border-radius: 12px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2), -3px -3px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 30px;
    font-weight: 500;
}

.logo span {
    color: rgb(14, 218, 65);
}

.top-menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.menu {
    margin-top: 13px;
    display: flex;
}

.menu ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 60px;
}

.menu ul li:hover {
    height: 2px;
    width: fit-content;
    background: rgb(14, 218, 65);
    transition: all 1s ease-out;
}

.menu ul a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 14px;
}

.icon-menu {
    position: relative;
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.icon-menu p {
    position: absolute;
    top: -15px;
    left: 56px;
    width: 20px;
    height: 20px;
    background: rgb(14, 218, 65);
    border-radius: 50%;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

.icon-menu input {
    position: absolute;
    right: 92px;
    top: -5px;
    border: 0;
    outline: none;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.fa-basket-shopping {
    cursor: pointer;
}


/* ======================= */

#mainTop {
    display: flex;
    margin-top: 30px;
    width: 1100px;
    height: 300px;
    background: linear-gradient(45deg, rgb(14, 218, 65), rgb(107, 206, 176));
    border-radius: 15px;
}

.section1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.section1 input {
    margin-top: 20px;
    border: none;
    width: 300px;
    height: 35px;
    padding-left: 35px;
    border-radius: 25px;
    outline: none;
}

.section1 i {
    position: absolute;
    left: 125px;
    top: 170px;
    color: rgb(119, 119, 119);
}

.section1 input:hover {
    animation: puls 1s ease-in-out;
}

.section2 {
    width: 30%;
    margin: 20px;
    border-radius: 15px;
    background: gold;
    background-image: url(./img/purepng.com-2cd43b-1f2f8a8fe0444c828f27d6241c173477-mv2musicheadphoneearphoneslisteningearssounds-231519334370fe7mk.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.section3 {
    width: 20%;
    background-image: url(./img/Online-shopping-3d-rendering-illustration-transparent-background-PNG.png);
    background-position: -10px 100px;
    background-repeat: no-repeat;
    background-size: 220px;
}

@keyframes puls {
    0% {
        box-shadow: 0 0 25px rgb(202, 255, 206), 0 0 50px rgb(112, 255, 155);
    }
}

.menu-2 {
    margin-top: 20px;
    margin-right: 330px;
    display: flex;
}

.menu-2 ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 60px;
}

.menu-2 ul li:hover {
    height: 2px;
    width: fit-content;
    background: rgb(14, 218, 65);
    transition: all 1s ease-out;
}

.menu-2 ul a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 14px;
}

.fa-circle-user {
    cursor: pointer;
    position: relative;
    display: block;
}

#select-book {
    color: rgb(14, 218, 65);
}

.drop-img {
    width: 70px;
    height: 70px;
    background-image: url(./img/shopping-bag.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dropdown-container {
    display: none;
    position: absolute;
    right: -20px;
    width: 180px;
    height: 220px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    text-decoration: none;
}

.dropdown-container li a {
    width: 140px;
    padding-left: 10px;
    padding-top: 6px;
    height: 25px;
    border-radius: 10px;
    background: rgb(244, 244, 244);
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: 400;
    font-size: 14px;
    transition: all .2s ease-out;
}

.dropdown-container li a:hover {
    background: rgb(14, 218, 65);
    color: white;
}

.dropdown-container li {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.show {
    display: block;
}


/* ========================================== */

.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.row {
    display: flex;
    flex-direction: column;
}

.produsts {
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
}

.product-img {
    margin-top: 30px;
    width: 260px;
    height: 350px;
    border-radius: 15px;
}

.btn {
    color: rgb(14, 218, 65);
}

.btn:hover {
    color: white;
}

.row1 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.row2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.row3 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.row4 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.card-body button {
    cursor: pointer;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color: rgb(14, 218, 65);
    border: 1.5px solid rgb(14, 218, 65);
    transition: all 0.5s ease-in-out;
}

.card-body button i {
    margin-right: 10px;
}

.card-body button:hover {
    background: rgb(14, 218, 65);
    color: white;
}

.carts {
    position: absolute;
    right: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: auto;
    background: white;
    border-radius: 15px;
}

h4 {
    padding-top: 25px;
}

.cart-drop-img {
    background-image: url(./img/shopping-bag.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    margin-top: -2px;
    padding-left: 40px;
    float: left;
}

.carts button {
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.badge-danger {
    background: linear-gradient(45deg, rgb(218, 14, 14), rgb(255, 61, 61));
    color: white;
    width: 200px;
    height: 40px;
    padding-left: 10px;
}

.badge-danger i {
    margin-right: 10px;
}

.badge-dark {
    padding: 10 20px;
    width: 500px;
    height: 40px;
    background: linear-gradient(45deg, rgb(14, 218, 65), rgb(107, 206, 176));
    color: white;
    transition: all .5s ease-in;
}

.badge-dark:hover {
    background: linear-gradient(45deg, rgb(218, 79, 14), rgb(206, 199, 107));
}

.badge-dark i {
    margin-right: 10px;
}

.badge-cancel {
    background: rgb(235, 53, 53);
    color: white;
}

.flex_row {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.cart_item_quantity {
    margin: 5px 5px 0 5px;
}

.price-box {
    margin-top: 20px;
}

.text-items {
    width: 40%;
    display: flex;
    flex-direction: column;
}


/* #mainTop {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 400px;
    background: green;
} */


/* ========background shapes=== */

.shapes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle1 {
    position: absolute;
    top: 20px;
    left: -150px;
    width: 0;
    height: 0;
    opacity: 0.2;
    border-right: 100px solid rgb(126, 126, 126);
    border-top: 20px solid transparent;
    border-bottom: 70px solid transparent;
}

.triangle2 {
    position: absolute;
    top: 400px;
    left: -80px;
    width: 0;
    height: 0;
    opacity: 0.2;
    border-right: 60px solid rgb(126, 126, 126);
    border-top: 80px solid transparent;
    border-bottom: 20px solid transparent;
}

.triangle3 {
    position: absolute;
    top: 400px;
    right: -880px;
    width: 0;
    height: 0;
    opacity: 0.1;
    border-right: 70px solid rgb(126, 126, 126);
    border-top: 55px solid transparent;
    border-bottom: 70px solid transparent;
    transform: rotate(20deg);
}

.triangle4 {
    position: absolute;
    top: 80px;
    right: -820px;
    width: 0;
    height: 0;
    opacity: 0.1;
    border-right: 60px solid rgb(126, 126, 126);
    border-top: 35px solid transparent;
    border-bottom: 40px solid transparent;
    transform: rotate(45deg);
}

.triangle5 {
    position: absolute;
    top: 80px;
    right: -980px;
    width: 50px;
    height: 50px;
    opacity: 0.1;
    border-radius: 50%;
    background: rgb(65, 65, 65);
}

.triangle6 {
    position: absolute;
    bottom: -70px;
    right: -1390px;
    width: 120px;
    height: 120px;
    opacity: 0.1;
    border-radius: 50%;
    background: rgb(187, 187, 187);
}

.triangle7 {
    position: absolute;
    bottom: -30px;
    right: -440px;
    width: 50px;
    height: 50px;
    opacity: 0.1;
    border-radius: 50%;
    background: rgb(187, 187, 187);
}

.triangle8 {
    position: absolute;
    top: -38px;
    right: -1090px;
    width: 0;
    height: 0;
    opacity: 0.1;
    border-right: 100px solid rgb(126, 126, 126);
    border-top: 55px solid transparent;
    border-bottom: 40px solid transparent;
    transform: rotate(45deg);
}

.triangle9 {
    position: absolute;
    bottom: -90px;
    right: 270px;
    width: 90px;
    height: 90px;
    opacity: 0.1;
    border-radius: 50%;
    background: rgb(187, 187, 187);
}


/* =========================== */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    padding-top: 0px;
}

h4 {
    padding: 15px;
    /* background: linear-gradient(45deg, rgb(14, 218, 65), rgb(107, 206, 176)); */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 80%;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: 400;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #db0f00;
    cursor: pointer;
}