@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
/* =====================+ Contact section +=================== */

.contacts-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(243, 243, 243);
}
.contact-in-wrapp {
    width: 1100px;
    display: flex;

}
.contact-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 1;
    gap: 15px;
    padding: 20px;
    margin: 60px 0 40px 0;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
.contact-input-wrapper h5 {
    font-size: 22px;
    font-weight: 500;
}
.contact-input-wrapper p {
    width: 620px;
}
.contact-input-wrapper input {
    width: 300px;
    height: 40px;
    padding: 5px;
    border: none;
    border: 0.8px solid rgb(226, 226, 226);
    border-radius: 5px;
    outline-color: #fec144;
}
.top-inputs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.bottom-inputs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
#big-text {
    width: 605px;
    height: 120px;
    text-align: start;
}
.contact-input-wrapper a {
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 35px;
    background: linear-gradient(45deg, #fec144, #f27334);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    transform: translateY(0);
    transition: all .8s ease-in-out;
}
.contact-input-wrapper a:hover {
    transform: translateX(10px);
}
.contact-wrapp-2 {
    margin: 60px 0 0 40px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.contact-wrapp-2>div {
    padding: 15px 13px 0 15px;
    width: 400px;
    height: 90px;
    background: white;
    border-radius: 5px;
}
#school-text {
    color: #2880be;
    font-weight: 500;
}
.contact-wrapp-2 p {
    font-size: 15px;
    font-weight: 300;
    color: gray;
    padding-top: 20px;
}
.contact-wrapp-2 span {
    font-size: 15px;
    font-weight: 300;
    color: gray;
    padding-top: 17px;
}
.contact-shape {
    margin-top: 5px;
    margin-right: 20px;
    float: left;
    width: 50px;
    height: 50px;
    border: 3px solid #fff4d6;
    border-radius: 50%;
}
.temuulel-n img,
.phone-n img,
.email-a img,
.location img {
    margin: 9.5px 0 0 9.5px;

}
.map-wrapp {
    display: flex;
    justify-content: center;
}
.map {
    max-width: 1100px;
    width: 100%;
    height: 450px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}
.contact-texts {
    display: flex;
    margin: 30px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.contact-texts h1, .contact-texts span{
    font-size: 30px;
    font-weight: 500;
}
.contact-texts p {
    max-width: 1000px;
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 1150px) {
    .contact-in-wrapp {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .contact-wrapp-2 {
        gap: 10px;
        margin: -30px 0 10px 0;
    }
    .contact-texts {
        width: 100%;
    }
}
@media (max-width: 650px) {
    .contact-in-wrapp {
        width: 100vw;
    }
    .contact-in-wrapp {
        width: 95vw;
        flex-wrap: wrap;
        padding-right: 10px;
    }
    .contact-input-wrapper {
        width: 102%;
    }
    .contact-input-wrapper p {
        width: 100%;
    }
    .top-inputs input{
        flex-wrap: wrap;
    }
    .bottom-inputs {
        flex-wrap: wrap;
    }
    .bottom-inputs {
        flex-wrap: wrap;
    }
    #big-text {
        width: 100%;
    }
    .contact-texts p {
        font-size: 12px;
    }
}
@media (max-width: 420px) {
    .contact-in-wrapp {
        width: 100vw;
    }
    .contact-input-wrapper {
        width: 95%;
        margin-left: 10px;
        flex-wrap: wrap;
        height: fit-content;
    }
    .top-inputs {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .bottom-inputs {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contact-wrapp-2 {
        align-items: center;
    }
    .contact-wrapp-2>div {
        width: 95%;
    }
    
}
@media (max-width: 400px) {
    .contact-in-wrapp {
        width: 100vw;
    }
    .contact-input-wrapper {
        width: 95%;
        flex-wrap: wrap;
        height: fit-content;
    }
    .contact-wrapp-2>div {
        margin-left: 10px;
    }
}
@media (max-width: 380px) {
    .contact-in-wrapp {
        width: 100vw;
    }
    .contact-input-wrapper {
        width: 92%;
        flex-wrap: wrap;
        height: fit-content;
    }
    .top-inputs input {
        width: 280px;
    }
    .bottom-inputs input {
        width: 280px;
    }

}
@media (max-width: 350px) {
    .contact-in-wrapp {
        width: 100vw;
    }
    .contact-input-wrapper {
        width: 92%;
        flex-wrap: wrap;
        height: fit-content;
    }
    .top-inputs input {
        width: 270px;
    }
    .bottom-inputs input {
        width: 270px;
    }

}